body{
    margin-left: 25%;
}

#token-container
{
    margin-top: 1em;
}

.minuscule{
    height: 15.24mm;
    width:7.62mm;
    display: inline-block;
}

.minuscule-support{
    height:0.3cm;
}

.petit{
    height: 25.40mm;
    width:12.7mm;
    display: inline-block;
}

.petit-support{
    height:0.5cm;
}

.standard{
    height: 30.48mm;
    width: 15.24mm;
    display: inline-block;
    margin:0;
}

.standard-support{
    height:0.65cm;
}

.grand{
    height:35.56mm;
    width:17.78mm;
    display: inline-block;
}

.grand-support{
    height:0.65cm;
}

.colossale{
    height:60.45mm;
    width:42.67mm;
    display: inline-block;
}

.colossale-support{
    height:1cm;
}

.gigantesque{
    height:120.9mm;
    width:60.45mm;
    display: inline-block;
}

.gigantesque-support{
    height:1.5cm;
}