body{
    margin-left: 25%;
}

#token-container
{
    margin-top: 1em;
}

.petit{
    height: 3cm;
    width:1.8cm;
    display: inline-block;
}

.petit-support{
    height:0.5cm;
}

.standard{
    height: 4cm;
    width: 2cm;
    display: inline-block;
    margin:0;
}

.standard-support{
    height:1cm;
}

.grand{
    height:5.3cm;
    width:3.5cm;
    display: inline-block;
}

.grand-support{
    height:1.5cm;
}

.colossale{
    height:10cm;
    width:6cm;
    display: inline-block;
}

.colossale-support{
    height:3cm;
}